html {
    font-size: 16px;
}

body {
    background-color: #7f5539;
}

* {
    cursor: inherit;
    margin: 0;
    padding: 0;
    list-style: none;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.tile {
    position: relative;
}


.tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 1;
}

.tile:hover .tooltip {
    visibility: visible;
}

.tile:hover .tooltip:hover {
    visibility: hidden;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

